<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<img src="<%= image_path('slack.png') %>" alt="slack logo">
		<div id="headerText">
			<h1>Slacker News</h1>
			<p>brought to you by Thinkful</p>
		</div>
		<img src="<%= image_path('TF_logo.svg') %>" alt="thinkful logo">
	</header>
	<div id="mainContent">
		<%= yield %>
	</div>
	<footer>
	  <ul>
		<li><a href="home">Home</a></li>
		<li><a href="report a bug">Report a Bug</a></li>
		<li><a href="www.thinkful.com">Thinkful</a></li>
	  </ul>
	</footer>
</body>
</html>
