<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="slacker">
	<div id="pageContent">
  <header>
		<div id="headerText">
			<h1>Slacker News</h1>
			<p>brought to you by Thinkful</p>
		</div>
	</header>
	<div id="mainContent">
		<%= yield %>
	</div>
  </div>
	<footer ng-controller="footerController">
    <img id="slackLogo" src="<%= image_path('slack.png') %>" alt="slack logo">
		<ul>  
     <li><md-button id="addLink" class="footLink" ng-click="addLink()">Add Link</md-button></li>
      <li><md-button class="footLink" ng-click="changeLink()">Edit a Link</md-button></li>
      <li><md-button class="footLink" ng-click="bugReport">Report a Bug</md-button></li>
	<li><md-button href="http://thinkful.com" class="footLink">Thinkful</md-button></li>
    </ul>
    <img src="<%= image_path('TF_logo.svg') %>" alt="thinkful logo">
	
  <script type="text/ng-template" id="add-link.html">
    <md-dialog>
      <md-content>
        <h3>Add Link</h3>
        <md-text-float ng-model="url" label="Enter Url"></md-text-float>
      </md-content>
      <div class="md-actions">
        <md-button ng-click="save(url)">Save Link</md-button>
      </div>
    </md-dialog>
  </script>
  <script type="text/ng-template" id="change-link.html">
    <md-dialog>
      <md-content>
        <h3>Change Link form</h3>
        <md-text-float ng-model="title" label="Change title"></md-text-float>
        <md-text-float ng-model="keyword" label="Add Keywords"></md-text-float>
      </md-content>
      <div class="md-actions">
        <md-button ng-click="save(title,keyword)">Save Link</md-button>
      </div>
    </md-dialog>
  </script>
  <script type="text/ng-template" id="add-link.html">
    <md-dialog>
      <md-content>
        <h3>Add Link</h3>
        <md-text-float ng-model="url" label="Enter Url"></md-text-float>
      </md-content>
      <div class="md-actions">
        <md-button ng-click="save(url)">Save Link</md-button>
      </div>
    </md-dialog>
  </script>
  <script type="text/ng-template" id="add-bug.html">
    <md-dialog>
      <md-content>
        <h3>Add Link</h3>
        <md-text-float ng-model="url" label="Report Bug"></md-text-float>
      </md-content>
      <div class="md-actions">
        <md-button ng-click="openBottomSheet()">Report Bug</md-button>
      </div>
    </md-dialog>
  </script>
    </footer>
</body>
</html>
